[submodule "filesystem"]
	path = filesystem
	url = git@github.com:szatanjl/filesystem.git
[submodule "config"]
	path = config
	url = git@github.com:szatanjl/config.git
[submodule "pacman-extra"]
	path = pacman-extra
	url = git@github.com:szatanjl/pacman-extra.git
[submodule "packages"]
	path = packages
	url = git@github.com:szatanjl/packages.git
[submodule "sysinstall"]
	path = sysinstall
	url = git@github.com:szatanjl/sysinstall.git
